body {
	margin: 0;
	padding: 0;
	background: #F5E8DC;
	font-size: 20px;
	font-family: '微软雅黑', '宋体', sans-serif;
	color: #5C4033;
	overflow: auto
}

a {
	color: #5C4033;
	font-size: 14px;
}

#main {
	width: 100%;
}

#wrap {
	position: relative;
	margin: 0 auto;
	width: 1100px;
	height: 680px;
	margin-top: 100px;
}

#text {
	width: 400px;
	height: 425px;
	left: 60px;
	top: 80px;
	position: absolute;
}

#code {
	display: none;
	font-size: 28px;
}

#clock-box {
	position: absolute;
	left: 60px;
	top: 590px;
	font-size: 28px;
	display: none;
}

#clock-box a {
	font-size: 28px;
	text-decoration: none;
}

#clock {
	margin-left: 5px;
}

#clock .digit {
	font-size: 40px;
}

#canvas {
	margin: 0 auto;
	width: 1100px;
	height: 680px;
}

#error {
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	display: none;
}

.hand {
	cursor: pointer;
}

.say {
	margin-left: 5px;
}

.space {
	margin-right: 150px;
}
#intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
}

.circle img {
    position: absolute;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 15px hotpink;
}
.circle img:nth-child(1) { top: -220px; left: -45px; }
.circle img:nth-child(2) { top: -155px; left: 155px; }
.circle img:nth-child(3) { top: -45px; left: 220px; }
.circle img:nth-child(4) { top: 155px; left: 155px; }
.circle img:nth-child(5) { top: 220px; left: -45px; }
.circle img:nth-child(6) { top: 155px; left: -245px; }
.circle img:nth-child(7) { top: -45px; left: -290px; }
.circle img:nth-child(8) { top: -155px; left: -245px; }
